* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1b1b1b;
  width: 100vw;
  height: 100vh;
}

#game-board {
  width: 300px;
  height: 300px;
  position: relative;
}

.tile {
  position: absolute;
  border: 1px solid white;
  height: 100px;
  width: 100px;
  color: transparent;
  font-size: 30px;
  transition: top 0.2s linear, left 0.2s linear;
  background: url(image.png);
  cursor: pointer;
}

.tile:last-of-type {
  background: none;
  border: none;
}

.signature {
  font-family: arial;
  font-weight: bold;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 700px;
}

.org {
  font-family: arial;
  font-weight: bold;
  text-shadow: 0px 1px 9px red;
  color: red;
  position: absolute;
  bottom: 0px;
  left: 842px;
}
.heart {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 970px;
}
.nick {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: arial;
  font-weight: bold;
  color: #4a9df7;
  text-shadow: 0px 1px 9px #4a9df7;
  position: absolute;
  bottom: 0px;
  left: 770px;
}
.signature-rest {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: arial;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 817px;
}
